.header-elements {
    padding-left: 6rem;
    padding-right:6rem;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.header {
    padding-top: 16px;padding-bottom: 15px;
}

.icon-dimension {
    font-size: 1.1rem;
}

.theme-text {
    font-size: 1.1rem;
    margin-left: 0.6rem;
}
