.flag-dimensions {
    width: 20rem;
    height: 12rem;
}

.details-margin {
    margin-left: 1.5rem;
}

.details-font {
    font-size: 1rem;
}

.card-outer-curve {
    border-radius: 3px;
}

.flag-outer-curve {
    border-radius: 3px 3px 0 0;
}

.bottom-row-height {
    height: 4rem;
}

.country-name {
    font-size: 1.2rem;
    height: 2rem;
    font-weight: 900;
}

.country-name-spacing {
    padding-top: 1.5rem;
}

.element-dimension {
    width: 20rem;
}